body {
  font-family: Helvetica;
  margin: none;
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.channel-list {
  list-style: none;
  width: 30%;
  margin-left: 100px;
  background-color: rgb(185, 126, 126);
  .selected {
    font-weight: bolder;
  }
}

.message-list {
  width: 70%;
  background-color: rgb(151, 170, 185);
  padding: 5px;
  li {
    list-style: none;
  }
  .message-form {
    display: flex;
    input {
      width: 70%;
    }
    button {
      width: 30%;
    }
  }
  .message {
    background-color: white;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding: 5px 10px
  }
}
